<ion-header>
  <ion-navbar>
    <ion-title>
      Listado APP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of listado">
      {{item.id}} - {{item.message}}
    </ion-item>
  </ion-list>
</ion-content>
